{
  "overrides": [
    {
      "files": [
        ".prettierrc",
        ".prettierignore",
        ".eslintrc",
        ".eslintignore",
        "package.json",
        "tsconfig.json"
      ],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ["packages/*/stories/index.stories.mdx"],
      "options": { "parser": "mdx" }
    }
  ],
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "printWidth": 100
}
